@page "/"

<PageTitle>Home</PageTitle>

<h1>Order your ice cream today!</h1>

<p>Create an account or log in with a test user account, and browse our vendors for your favorite ice cream!</p>
<br/>
<ul>
    <li>Username: user1@test.com</li>
    <li>Password: Test</li>
</ul>
<ul>
    <li>Username: user2@test.com</li>
    <li>Password: Test</li>
</ul>