@page "/Vendors"

<h1>Vendors</h1>
@if (VendorList.Count == 0)
{
    <p>@_message</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vendor in VendorList)
        {
            <tr>
                <td><a href="VendorDetails/@vendor.Id">@vendor.Name</a></td>
                <td>@vendor.Description</td>
                <td>@vendor.Address</td>
            </tr>
        }
        </tbody>
    </table>
}
